@import "styles.scss";

html {
    font-family: $font-family;
    background-color: map-get($colors, lighter);
    height: 100vh;
}

body {
    margin: 56px auto;
    width: 100%;

    @media(min-width: 768px) {
        display: flex;
        width: 100%;
        height: 100vh;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
}

.ap-component {
    display: flex;
    box-sizing: border-box;
    position: relative;
    flex-flow: column;
    width: 280px;
    height: auto;
    margin: 0 auto;
    box-shadow: 0px 0px 24px 12px rgba(72, 85, 106, 0.15);
    border-radius: 8px;

    @media (min-width: 768px) {
        flex-flow: row;
        width: auto;
        height: 256px;
        max-width: 648px;
    }
}

    .ap-component__image {
        display: inline-block;
        position: relative;
        width: 280px;
        height: 160px;
        background-image: url('../../images/drawers.jpg');
        background-size: cover;
        border-radius: 8px 8px 0 0;
        z-index: 2;


        @media (min-width: 768px) {
            width: 256px !important;
            height: 256px !important;
            border-top-left-radius: 8px;
            border-radius: 8px 0 0 8px;
        }
    }

    .ap-component__body {
        padding: 32px 32px 16px 32px;
        border-radius: 0 0 8px 8px;
        background-color: #fff;
        
        @media (min-width: 768px) {
            display: flex;
            flex-flow: column;
            padding: 32px;
            max-width: 360px;
            border-radius: 0 8px 8px 0;
        }
    }

        .ap-component__body-header {
            font-size: map-get($font-sizes, header-mobile);
            color: map-get($colors, darker);
            font-weight: 700;
            margin-bottom: 8px;

            @media (min-width: 768px) {
                font-size: map-get($font-sizes, header-desktop);
            }
        }

        .ap-component__body-sub {
            font-size: map-get($font-sizes, subtext-mobile);
            line-height: 18px;
            color: map-get($colors, dark);
            font-weight: 500;
            margin-bottom: 32px;

            @media (min-width: 768px) {
                line-height: 20px;
                font-size: map-get($font-sizes, subtext-desktop);
                margin-bottom: 24px;
            }
        }

    .ap-component__button-content {
        position: relative;
        display: flex;
        flex-flow: row;
        align-items: center;
        width: 100%;
        height: 32px;
    }

    .ap-component__button-content--default {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 4;
        display: flex;        
        align-items: center;
        width: 100%;
        height: 32px;
        opacity: 1;
    }

        .ap-component__button-avatar {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            margin-right: 16px;
        }

        .ap-component__button-label {
            display: flex;
            flex-flow: column;
        }

            .button-label__name {
                margin: 0 0 2px 0;
                font-size: map-get($font-sizes, subtext-mobile);
                color: map-get($colors, darker);
                font-weight: 700;
            }

            .button-label__date {
                margin: 0;
                font-size: map-get($font-sizes, subtext-mobile);
                color: map-get($colors, light);
                font-weight: 500;
            }
    
    .ap-component__button-content--active {
        display: flex;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 3;
        align-items: center;
        opacity: 0;
        width: 100%;
        height: 32px;
        transition: opacity 1500ms;
    }

        .button-label__share {
            display: flex;
            align-items: center;
            font-size: map-get($font-sizes, button-text-mobile);
            color: map-get($colors, lighter);
            font-weight: 200;
            letter-spacing: 6px;
            margin-right: 8px;

            @media(min-width: 768px) {
                margin-right: 16px;
                font-size: map-get($font-sizes, button-text-desktop);
            }
        }

        .button-socmed {
            display: flex;
            width: 80px;
            justify-content: space-between;
            align-items: center;
            transform: scale(1);
            transition: transform 100ms;

            a {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 20px;
                height: 20px;
            }

            a > svg {
                transform: scale(1);
                transition: transform 200ms;
            }

            a > svg:hover {
                transform: scale(1.3);
            }

            a > svg:active {
                transform: scale(1);
            }

            @media(min-width: 768px){
                width: 88px;
            }
        }
    
    .ap-component__button-share {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        width: 30px;
        min-width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: map-get($colors, lighter);
        position: relative;
        z-index: 6;
        transform: rotate(0), scale(1);
        transition: transform 800ms, background-color 400ms;

        &:hover {
            cursor: pointer;
        }

        &:active {
            outline: none;
            transform: scale(1);
        }

        > svg {
            margin-bottom: 1px;
            margin-left: 1px;
        }

        @media(min-width: 768px) {
            transition: background-color 150ms, transform 400ms;
        }
    }

    .svg-arrow {
        transition: fill 1600ms;

        @media(min-width: 768px) {
            transition: fill 100ms;
        }
    }

    .ap-component__button--background {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        z-index: 0;
        height: 64px;
        display: flex;
        flex-flow: row;
        background-color: #222;
        transition: width 400ms 200ms;
        border-radius: 0 0 8px 8px;
    }

    .desktop-ap-component__button-content--active {
        display: none;

        @media(min-width: 768px) {
            cursor: default;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 244px;
            height: 52px;
            background-color: map-get($colors, darker);
            border-radius: 8px;
            box-shadow: 0px 8px 16px 8px rgba(72, 85, 106, 0.15);
            bottom: -9999px;
            opacity: 0;
            transition:  opacity 150ms;
        }
    }

    .desktop-ap-component__button-pointer {
        position: absolute;
        width: 20px;
        height: 20px;
        bottom: -10px;
        background-color: map-get($colors, darker);
        transform: rotate(45deg);
        z-index: -1;
    }

.credits {
    position: absolute;
    bottom: 24px;
    width: 100%;
    text-align: center;
    font-size: map-get($font-sizes, subtext-mobile);
    
    a {
        text-decoration: none;
        color: #222;
        font-weight: 700;
    }

    @media(min-width: 768px) {
        font-size: map-get($font-sizes, header-desktop);
    }
}