html {
  font-family: "Manrope", sans-serif;
  background-color: #ECF2F8;
}

body {
  margin: 56px auto;
  width: 100%;
}

@media (min-width: 768px) {
  body {
    margin: 0 auto;
    height: 100vh;
  }
}

.ap-component {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  width: 280px;
  height: auto;
  margin: 0 auto;
  -webkit-box-shadow: 0px 0px 24px 12px rgba(72, 85, 106, 0.15);
          box-shadow: 0px 0px 24px 12px rgba(72, 85, 106, 0.15);
  border-radius: 8px;
  top: 25%;
}

@media (min-width: 768px) {
  .ap-component {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    width: auto;
    height: 256px;
    max-width: 648px;
  }
}

.ap-component__image {
  display: inline-block;
  width: 280px;
  height: 160px;
  background-image: url("../../images/drawers.jpg");
  background-size: cover;
  border-radius: 8px 8px 0 0;
}

@media (min-width: 768px) {
  .ap-component__image {
    width: 256px !important;
    height: 256px !important;
    border-top-left-radius: 8px;
    border-radius: 8px 0 0 8px;
  }
}

.ap-component__body {
  padding: 32px 32px 16px 32px;
  border-radius: 0 0 8px 8px;
  background-color: #fff;
}

@media (min-width: 768px) {
  .ap-component__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    padding: 32px;
    max-width: 360px;
    border-radius: 0 8px 8px 0;
  }
}

.ap-component__body-header {
  font-size: 13px;
  color: #48556A;
  font-weight: 700;
  margin-bottom: 8px;
}

@media (min-width: 768px) {
  .ap-component__body-header {
    font-size: 20px;
  }
}

.ap-component__body-sub {
  font-size: 11px;
  line-height: 18px;
  color: #6D7F97;
  font-weight: 500;
  margin-bottom: 32px;
}

@media (min-width: 768px) {
  .ap-component__body-sub {
    line-height: 20px;
    font-size: 12px;
    margin-bottom: 24px;
  }
}

.ap-component__button-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 32px;
}

.ap-component__button-content--default {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 32px;
  opacity: 1;
}

.ap-component__button-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 16px;
}

.ap-component__button-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.button-label__name {
  margin: 0 0 2px 0;
  font-size: 11px;
  color: #48556A;
  font-weight: 700;
}

.button-label__date {
  margin: 0;
  font-size: 11px;
  color: #9EAFC2;
  font-weight: 500;
}

.ap-component__button-content--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  width: 100%;
  height: 32px;
  -webkit-transition: opacity 1500ms;
  transition: opacity 1500ms;
}

.button-label__share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 11px;
  color: #ECF2F8;
  font-weight: 200;
  letter-spacing: 6px;
  margin-right: 8px;
}

@media (min-width: 768px) {
  .button-label__share {
    margin-right: 16px;
    font-size: 12px;
  }
}

.button-socmed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 100ms;
  transition: -webkit-transform 100ms;
  transition: transform 100ms;
  transition: transform 100ms, -webkit-transform 100ms;
}

.button-socmed a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20px;
  height: 20px;
}

.button-socmed a > svg {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
}

.button-socmed a > svg:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.button-socmed a > svg:active {
  -webkit-transform: scale(1);
          transform: scale(1);
}

@media (min-width: 768px) {
  .button-socmed {
    width: 88px;
  }
}

.ap-component__button-share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  width: 30px;
  min-width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ECF2F8;
  position: relative;
  z-index: 6;
  -webkit-transform: rotate(0), scale(1);
          transform: rotate(0), scale(1);
  -webkit-transition: background-color 400ms, -webkit-transform 800ms;
  transition: background-color 400ms, -webkit-transform 800ms;
  transition: transform 800ms, background-color 400ms;
  transition: transform 800ms, background-color 400ms, -webkit-transform 800ms;
}

.ap-component__button-share:hover {
  cursor: pointer;
}

.ap-component__button-share:active {
  outline: none;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.ap-component__button-share > svg {
  margin-bottom: 1px;
  margin-left: 1px;
}

@media (min-width: 768px) {
  .ap-component__button-share {
    -webkit-transition: background-color 150ms, -webkit-transform 400ms;
    transition: background-color 150ms, -webkit-transform 400ms;
    transition: background-color 150ms, transform 400ms;
    transition: background-color 150ms, transform 400ms, -webkit-transform 400ms;
  }
}

.svg-arrow {
  -webkit-transition: fill 1600ms;
  transition: fill 1600ms;
}

@media (min-width: 768px) {
  .svg-arrow {
    -webkit-transition: fill 100ms;
    transition: fill 100ms;
  }
}

.ap-component__button--background {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  z-index: 0;
  height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  background-color: #222;
  -webkit-transition: width 400ms 200ms;
  transition: width 400ms 200ms;
  border-radius: 0 0 8px 8px;
}

.desktop-ap-component__button-content--active {
  display: none;
}

@media (min-width: 768px) {
  .desktop-ap-component__button-content--active {
    cursor: default;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 244px;
    height: 52px;
    background-color: #48556A;
    border-radius: 8px;
    -webkit-box-shadow: 0px 8px 16px 8px rgba(72, 85, 106, 0.15);
            box-shadow: 0px 8px 16px 8px rgba(72, 85, 106, 0.15);
    bottom: -9999px;
    opacity: 0;
    -webkit-transition: opacity 150ms;
    transition: opacity 150ms;
  }
}

.desktop-ap-component__button-pointer {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: -10px;
  background-color: #48556A;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  z-index: -1;
}
/*# sourceMappingURL=index.css.map */