$font-family: 'Manrope', sans-serif;

$colors: (
    darker: #48556A,
    dark: #6D7F97,
    light: #9EAFC2,
    lighter: #ECF2F8,
);

$font-sizes: (
    header-desktop: 18px,
    header-mobile: 13px,
    subtext-mobile: 11px,
    subtext-desktop: 12px,
    button-text: 11px
);